:root{
  --color1: #518b0e;
  --color1rgb7: rgba(40, 43, 67,.7);
  --color2: #83796c;    /* #D04D6F */
}

body{
  margin:0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--color1);
  border-bottom: 16px solid var(--color2);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* anima carga de pagina */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { top:-100px; opacity:0 } 
  to { top:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ top:-100px; opacity:0 } 
  to{ top:0; opacity:1 }
}

#mainpage {
  display: none;
  text-align: center;
}

.head-view {
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background: radial-gradient(circle at 50% 0%,var(--color2) -15%,var(--color1) 60%);
	background-size: cover;
	display: table;
}

#scrolldown {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

#scrolldown {
  cursor: pointer;
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1);
}

.scroll-down:hover{
  background: var(--color2);
}

#scrolldown:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


.navbar{
	background-color: var(--color1); 
}

.navbar .navbar-brand{
	color: #FFF;
	font-weight: bolder;
  font-size: 1.4em;
}
.navbar .navbar-brand:hover{
  color: var(--color2);
}

.nav-pills .nav-link{
	border-radius: 0px;
}
 /* #navbar-sticky.navbar .nav-pills {
   height: 70%!important;
  width:30%!important;
  overflow: auto!important;
  margin:auto!important;
  position: relative!important; 
  left: -45px !important;
}  */

@media only screen and (max-width: 992px) {
  #navbar-sticky.navbar .nav-pills {
    -ms-flex-pack:center!important;
    justify-content:center!important;
    -ms-flex:1 1 auto!important;
    flex:1 1 auto!important;
    left: 0px !important;
  }

}
@media only screen and (min-width: 992px) {
#navbar-sticky.navbar .nav-pills .nav-item a{
  width:5rem;
  }
}

#navbar-sticky.navbar .nav-pills .nav-item a{
  text-align: center;
}


#navbar-sticky.navbar .nav-link{
  color:#fff !important;
}
#navbar-sticky.navbar .nav-link:hover{
  color:var(--color2) !important;
	border-radius: 0px;
}
#navbar-sticky.navbar .nav-link.active{
	background-color:var(--color2);
}
#navbar-sticky.navbar .nav-link.active:hover{
	color:white !important;
}
.nav .nav-item a{
	color:white;
	border-radius: 0px;
}

#inicio {
  background: linear-gradient(to right,rgba(40, 43, 67,.5),rgba(40, 43, 67,.2)), url("../img/inicio.jpg") center no-repeat fixed;
}
#inicio h1,#inicio p,#inicio ol{
  color:#f3f3f3;
}
#servicios {
  color:#282b43;
}
#servicios .nav-link.active{
  color:var(--color2);
}
.display-4 {
  color:#282b43;
}
#servicios a{
  color:#282b43;
}
.box-left a{
  font-weight: bolder;
}
#servicios a:hover{
  color:var(--color2);
  text-decoration: none;
}

.box-service {
  color:#f3f3f3;
  background-color: var(--color2);
}
.box-service a{
  color:#f3f3f3 !important;
}
.box-service a:hover{
  color: var(--color1) !important;
}
/* #282b43 */
.btn {
  border-radius: 0px;
}

.btn-outline-primary{
  color:var(--color1);
  border-color:var(--color1);
}
.btn-outline-primary:hover{
  background-color:var(--color1);
  border-color:var(--color1);
}
.btn-outline-primary.focus,.btn-outline-primary:focus{
  box-shadow:0 0 0 .2rem var(--color1rgb7);
}
.btn-outline-primary.disabled,.btn-outline-primary:disabled{
  color:var(--color1);
}
.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle{
  background-color:var(--color1);
  border-color:var(--color1);
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-primary.dropdown-toggle:focus{
  box-shadow:0 0 0 .2rem var(--color1rgb7);
}
.no-hover {
  pointer-events: none
}
form {
  text-align: left
}

/* #servicios {
	background-image:linear-gradient(45deg,#D04D6F -35%,#413b54 100%);
} */

#equipo img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.std-pad{
	padding-top: 60px;
	padding-bottom: 60px;
}

.std-title-pad{
	padding-bottom: 20px;
	text-align: center;
}
.card{
	border-color: var(--color1);
}
/* #413b54 */
.title {
  color: grey;
  font-size: 18px;
}

.fa-linkedin{
	font-size:2em; 
  color: var(--color1);
}
.fa-linkedin:hover{
  	color: var(--color2);
}
.display-5{
  font-size:2rem;
  font-weight:300;
  line-height:1.2
}
@media only screen and (max-width: 768px){
  .brdr-top{

    border-top: 1px solid #dee2e6;
  }
}

.modal-header{
  color:var(--color1); 
}

.close{
  color:var(--color1);
  opacity: 1;
}
.close:hover{
  color:var(--color2);
}
p a:hover{
  color:var(--color2) !important;
}
footer {
  padding-top: 40px;
  background-color: var(--color1) !important;
  color: #cacaca !important;
  font-size: 0.9rem;
}
footer a:link{
  color:#cacaca !important;
}
footer a:visited{
  color:#cacaca !important;
}
footer a:hover {
	color: var(--color2) !important;
	}

/* bd-callout deprecated in bootstrap 4*/
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .3rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-info h4 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4 {
  color: #d9534f
}