.navspy {
  background-color: white !important;
}
.nav-pills .nav-link{
  border-radius:.25rem}

.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
  color:#fff;
  background-color:#282b43;
}
nav a:link {
  color: #282b43 ;
}
nav a:visited {
color: #282b43;
}
nav a:hover {
color: #ef544b;
}
@media only screen and (min-width: 992px) {
  #navbar-sticky.navbar .nav-pills .nav-item a{
    width:10rem !important;
    }
  }
/* #col-lg-9 p {
  text-align: justify;
} */
/* footer {
  padding-top: 40px;
  background-color: #282b43 !important;
}
footer a:link{
  color:grey;
}
footer a:hover {
color: #ef544b;
} */