.custom-file-input:lang(es)~.custom-file-label::after{
  content:"\f07c  Examinar";
}

.custom-file-label{
  position:absolute;
  top:0;
  right:0;
  left:0;
  z-index:1;
  height:calc(2.25rem + 2px);
  padding:.375rem .75rem;
  line-height:1.5;color:#282b43;
  background-color:#fff;
  border:1px solid #ced4da;
  border-radius:.25rem;
}

.custom-file-label::after{
  position:absolute;
  top:0;
  font-family:"FontAwesome","Arial";
  right:0;
  bottom:0;
  z-index:3;
  display:block;
  height:calc(calc(2.25rem + 2px) - 1px * 2);
  padding:.375rem .75rem;
  line-height:1.5;
  color:#282b43 ;
  content:"\f07c  Examinar" ;
  background-color:#e9ecef;
  border-left:1px solid #ced4da;
  border-radius:0 .25rem .25rem 0;
}

.border-primary{
  border-color: #282b43 !important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before{
  background-color:#282b43;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#282b43;
}


/* .container{
	border-color: #413b54;
} */
#sending-icon {
  display: none;
  /* position: absolute;
  left: 50%;
  top: 50%;
  z-index: auto;
  width: 50px;
  height: 50px; */
  /* margin: -75px 0 0 -75px; */
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #282b43;
  border-bottom: 16px solid #D04D6F;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}