html {
	position: relative;
	min-height: 100%;
  }

 .navbar .navbar-brand{
	color: black;
	font-weight: bolder;
	font-size: 1.3em;
}
header {
	padding: 100px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
  }