<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/templates.css">    
    <link rel="stylesheet" href="/css/bootstrap-4.1.0.min.css">
    <script defer src="/js/fontawesome-all-5.0.10.min.js"></script>
</head>

<body>
	<!--navigation section-->
<nav class="navbar fixed-top">
	<a class="navbar-brand text-dark" href="/">OPTING</a>
</nav>

<!-- header section -->
<header>
	<div class="container text-center">
		<div class="row">
			<div class="col p-1">
				<h1 class="display-2 text-danger">404</h1>
				<p>No se encontró la dirección <strong>{{index . "path"}}</strong></p>
				<p>La página que buscas no existe.</p>
				<form action="/" method="get" target="_self">
				<button type="submit" class="btn btn-outline-danger"><i class="fas fa-home"></i> IR A INICIO</button>
				</form>	    		
			</div>
		</div>
	</div>
</header>
		
<!-- footer section -->
<footer class="footer">
	<div class="container">
		<span class="text-muted">&copy; 2018 OptIng</span>
	</div>
</footer>

    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/popper-1.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-4.1.0.min.js"></script>

</body>
</html>