<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Contacto Procesado</title>
	<link rel="stylesheet" href="/css/templates.css">
	<link rel="stylesheet" href="/css/bootstrap-4.1.0.min.css">
	<script defer src="/js/fontawesome-all-5.0.10.min.js"></script>
</head>

<body>
	<!--navigation section  -->
	<nav class="navbar fixed-top">
		<a class="navbar-brand text-dark" href="/">OPTING</a>
	</nav>
	<!-- header section -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col p-1">
					<p>
						<strong>Estimado/a {{index . "name"}} {{index . "surname"}} :</strong>
					</p>
					<p>Hemos recibido tu información. Nos pondremos en contacto lo antes posible dentro de un horario hábil. Se envió un correo
						de notificación a {{index . "email"}}.</p>
					<a role="button" class="btn btn-outline-info" href="/">
						<i class="fas fa-home"></i> IR A INICIO</a>
				</div>
			</div>
		</div>
	</header>
	<!-- footer section -->
	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; 2018 OptIng</span>
		</div>
	</footer>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/popper-1.0.min.js"></script>
	<script src="/js/bootstrap-4.1.0.min.js"></script>

</body>

</html>