<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacto</title>
</head>

<body >

	<header>
		<div class="container">
			<h1 class="text-center">opting.cl</h1>
			<h2>Un usuario solicitó contacto:</h2>
			<p><strong>Nombre :</strong> {{.NName}} {{.SSurname}}</p>
			<p><strong>Teléfono :</strong> {{.PPhone}}</p>
			<p><strong>Email :</strong> {{.EEmail}}</p>
			<p><strong>Comuna :</strong> {{.CCity}}</p>
			<p><strong>Asunto:</strong> {{.SSubjectF}}</p>
			<p><strong>Mensaje :</strong> {{.MMessage}}</p>
		</div>
	</header>	

</body>

</html>